# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
typings/

# Visual Studio Code directories
.vscode/

# Editor directories
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# npm package lock file
package-lock.json
