.container {
    max-width: 1600px;
    width: 100%;
    margin-inline: auto;
    padding: 16px;
  }
  
  .icon-btn {
    background-color: var(--white-alpha-8);
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  
  .has-state {
    position: relative;
  }
  
  .has-state:hover {
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  }
  
  .has-state:is(:focus, :focus-visible) {
    box-shadow: none;
  }
  
  .has-state::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);
    transition: 100ms ease;
  }
  
  .has-state:hover::before {
    background-color: var(--white-alpha-4);
  }
  
  .has-state:is(:focus, :focus-visible)::before {
    background-color: var(--white-alpha-8);
    animation: ripple 250ms ease forwards;
  }
  
  @keyframes ripple {
    0% { clip-path: circle(0% at 50% 50%); }
    100% { clip-path: circle(100% at 50% 50%); }
  }
  
  
  .btn-primary {
    background-color: var(--primary);
    color: var(--on-primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
    border-radius: 500px;
  }
  
  
  .btn-primary .span {
    font-weight: 600;
  }
  
  .btn-primary[disabled] {
    background-color: var(--disabled);
    color: var(--on-disabled);
    cursor: not-allowed;
  }
  
  .btn-primary[disabled]::before {
    display: none;
  }
  
  .card {
    background-color: var(--surface);
    color: var(--on-surface);
    box-shadow: 1px 1px 8px hsla(0, 0%, 0%, 0.1);
  }
  
  .card-lg {
    border-radius: 28px;
    padding: 20px;
  }
  
  .card-sm {
    border-radius: 16px;
    padding: 16px;
  }
  
  .heading {
    color: var(--white);
    font-size: var(--heading);
    line-height: 1.1;
  }
  
  .title-1 {
    font-size: var(--title-1);
  }
  
  .title-2 {
    font-size: var(--title-2);
    margin-block-end: 12px;
  }
  
  .title-3 {
    font-size: var(--title-3);
    font-weight: var(--weight-semiBold);
  }
  
  .body-1 {
    font-size: var(--body-1); 
  }
  .body-2 {
    font-size: var(--body-2); 
    font-weight: var(--weight-semiBold);
  }
  .body-3 {
    font-size: var(--body-3); 
  }
  
  .label-1 {
    font-size: var(--label-1);
  }
  
  .label-2 {
    font-size: var(--label-2);
  }
  
  .fade-in {
    animation: fade-in 250ms ease forwards;
  }
  
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /* //////////////////////////// FOOTER //////////////////////////// */

.footer,
.footer .body-3:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer  {
  color: var(--on-surface-variant);
  text-align: center;
  gap: 12px 20px;
  margin-block-start: 28px;
  display: none;
}

.fade-in .footer  {
  display: flex;
}

.footer .body-3:last-child {
  gap: 6px;
}

  /* //////////////////////////// LOADING PAGE //////////////////////////// */


.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5ba3c9;
    background: linear-gradient(
      to bottom,
      #5ba3c9,#316db7
    );
    place-items: center;
    z-index: 1;
    display: none;
  }
  
  .loading::before {
    content: "";
    width: 48px;
    height: 48px;
    border: 4px solid  var(--on-background);
    border-block-start-color: transparent;
    border-radius: 50%;
    animation: loading 500ms linear infinite;
  }
  
  /* //////////////////////////// ERROR PAGE //////////////////////////// */
  
  
  .error-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: rgb(64, 64, 142);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 8;
  }
  
  .error-content .btn-primary {
    color: rgb(54, 54, 54);
    background-color: rgb(177, 177, 177);
    margin-block-start: 20px;
  }
  
  /* //////////////////////////// MEDIA QUERIES //////////////////////////// */

@media (min-width: 768px) {

    /* /////// REUSED STYLES /////// */
    
      .container {
        padding: 24px;
      }
    
      .title-1 {
        --title-1: 2.5rem;
      }
    
      .section > .title-2 { 
        margin-block-end: 16px;
      }
    
      .card-lg {
        padding: 24px;
      }
    
      .card-sm {
        padding: 20px;
        display: grid;
        grid-template-rows: min-content 1fr;
      }
    
      .badge {
        top: 20px;
        right: 20px;
      }
    
    }
    
@media (min-width: 1200px) {
    
      :root {
        --heading: 7rem;
        --title-2: 2rem;
      }
      
      .container {
        padding: 40px;
      }
    
      .card-lg {
        padding: 36px;
      }
    
      .card-sm {
        padding: 24px;
      }
    
      .title-1 {
        --title-1: 3.2rem;
      }

      .title-2 {
        --title-2: 2.3rem;
      }
    
      .highlight-card.two .card-item {
        column-gap: 24px;
      }
    }